.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  width: 500px;
  max-width: 400px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}